# =====================
# Python
# =====================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd


# =====================
# React / Node
# =====================
node_modules/
frontend/node_modules/
frontend/dist/


# =====================
# Environment / Secret
# =====================
.env
*.env


# =====================
# IDE
# =====================
.vscode/
.idea/


# =====================
# OS
# =====================
.DS_Store
Thumbs.db


# =====================
# Logs
# =====================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# =====================
# Temporary / Debug
# =====================
debug_*.jpg
debug_*.png
capture_*.jpg